/*Dimensiones y posiciones de todo el index*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



header{
    /*Dimensiones*/
    width: 100%;
    height: 150px;

    /*posiciones*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
main{
    /*Dimensiones*/
    width: 100%;
    height: 100vh;

    /*posicion*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1{ 
    
    width: 100%;
    margin-top: 40px;
    text-align: center;
    
    /*cambiar de letra*/
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 40px;
}
h2{
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-style: italic;

    font-weight: lighter;
    
    
}
h3{
    width: 100%;
   
    text-align: center;
    /*cambiar letra del titulo*/
    font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 25px;
}
#evento1{
    /*posicion*/
    display: flex;
    /*dimensiones*/
    width: 30%;
    height: 400px;
    margin-top: 10px;
    margin-right: 10px;
    
}
#evento2{
    /*posicion*/
    display: flex;
   
    /*dimensiones*/
    width: 30%;
    height: 400px;
    margin-top: 10px;
    margin-right: 10px;
}
#evento3{
    /*posicion*/
    display: flex;
    flex-wrap: wrap;
    /*dimensiones*/
    width: 30%; 
    height: 400px;
    margin-top: 10px;
     
}
footer{
    /*dimensiones*/
    width: 100%;
    height: 60px;
    padding: 0px 200 px;
    /*posicion*/
    display: flex;
    justify-content:space-around;
    align-items: center;

}
.fa {
    /*posicion*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*dimensiones*/
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    text-decoration: none;
    margin: 5px 2px;
    
  }

  
